aie-sdk
albumentations
imgaug
mmsegmentation==0.29.1
mmdet==2.28.2
numpy<=1.23.0
onnx
onnxruntime
onnxsim
opencv-python
opencv-python-headless
openmim
prettytable
pycocotools
pytest
rasterio
scikit-image
tensorboard
torch < 2.0.0
torchvision
tqdm
opencv-torchvision-transforms-yuzhiyang
lmdb
easydict
descartes
